---
type TopicsProps = {
  icon: string;
  title: string;
  url: string;
  description: string;
};

interface Props {
  title: string;
  topics: TopicsProps[];
}

const { title, topics } = Astro.props;
---

<article>
  <h2>{title}</h2>
  <ul>
    {
      topics.map((topic) => (
        <li>
          <h3 class={`topic-icon icon-${topic.icon}`}>
            <a href={topic.url}>{topic.title}</a>
          </h3>
          <p>{topic.description}</p>
        </li>
      ))
    }
  </ul>
</article>
