---
interface Props {
  frontMatter: {
    description: string;
    pubDate: string;
    title: string;
  };
  post: {
    url: string;
  };
}
const { frontMatter, post } = Astro.props;
---

<li class="card card-blog-post">
  <article>
    <header>
      <h3 class="card-title">
        <a href={post.url}>{frontMatter.title}</a>
      </h3>
      <p class="card-pubdate">
        This post was published on <time datetime={frontMatter.pubDate}
          >{frontMatter.pubDate}</time
        >
      </p>
    </header>
    <p>{frontMatter.description}</p>
  </article>
</li>
