---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
const tags = frontmatter.tags;
---

<BaseLayout
  customCanonical={frontmatter.canonical}
  pageDescription={frontmatter.description}
  pageTitle={frontmatter.title}
>
  <main class="main-content" id="main-content">
    <h1>{frontmatter.title}</h1>
    <p><em>{frontmatter.description}</em></p>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>Written by {frontmatter.author}</p>
    {
      frontmatter.image && (
        <img
          src={frontmatter.image.url}
          width="300"
          alt={frontmatter.image.alt}
        />
      )
    }
    <slot />
  </main>
  <Tags tags={tags} />
</BaseLayout>

<style>
  .main-content {
    max-width: 65rem;
    max-width: 90rch;

    p {
      font-size: var(--typography-size-default);
    }
  }
</style>
