---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";

const { frontmatter } = Astro.props;
const tags = frontmatter.tags;
---

<BaseLayout
  customCanonical={frontmatter.canonical}
  pageDescription={frontmatter.description}
  pageTitle={frontmatter.title}
>
  <main class="u-container" id="main-content">
    <header class="post-header">
      <h1>{frontmatter.title}</h1>
      <p class="synopsis">{frontmatter.description}</p>
      <p class="post-meta">Published on: {frontmatter.pubDate.toString().slice(0, 10)} • Written by {frontmatter.author}</p>
    </header>
    {
      frontmatter.image && (
        <img
          src={frontmatter.image.url}
          width="300"
          alt={frontmatter.image.alt}
        />
      )
    }
    <slot />
    <footer class="post-footer">
      <h2 class="visually-hidden">Tags</h2>
      <Tags tags={tags} />
    </footer>
  </main>
</BaseLayout>

<style>
  .u-container {

    p {
      font-size: var(--typography-size-small-medium);
    }
    .post-header {
      border-block-end: 1px solid var(--color-border);
      margin-block-end: var(--size-32, 2rem);
      padding-block-end: var(--size-24, 1.5rem);
    }

    .synopsis {
      font-size: var(--typography-size-medium);
    }

    .post-meta {
      color: var(--color-text-muted);
      font-size: var(--typography-size-default);
    }
  }

  .post-footer {
    border-block-start: 1px solid var(--color-border);
    margin-block-start: var(--size-32, 2rem);
    padding-block-start: var(--size-24, 1.5rem);
  }
</style>
